{% extends 'base.html.twig' %}

{% block header_title %}
    <h1 class='text-center'>Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-evenly m-1">
        <a href="{{ path('task_create') }}" class="btn btn-warning btn-home-page mb-1">Créer une nouvelle tâche</a>
        <a href="{{ path('task_list') }}" class="btn btn-info btn-home-page mb-1">Consulter toutes les tâches</a>
        <a href="{{ path('task_list', {'completed': 0 }) }}" class="btn btn-success btn-home-page mb-1">Consulter la liste des tâches à faire</a>
        <a href="{{ path('task_list', {'completed': 1 }) }}" class="btn btn-danger btn-home-page mb-1">Consulter la liste des tâches terminées</a>
    </div>
{% endblock %}
